.container {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;;
    box-sizing: border-box;
    position: relative;
}
